.MovieCard {
  width: 370px;
  padding: 0 1em 1em 1em;
  margin-bottom: 1em;

  .MovieCard__thumbnail {
    width: 100%;
    opacity: 1;
    transition: 0.2s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }

  .MovieCard__info {
    display: flex;
    margin-top: 0.5em;

    .MovieCard__avatar {
      margin-right: 0.5em;
    }

    .MovieCard__text {
      .MovieCard__text__title {
        margin: 0;
        cursor: pointer;
        color: #000;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
      }

      .MovieCard__text__channel {
        margin: 0;
        font-size: 0.875rem;
        margin-top: 0.5em;
        color: rgb(96, 96, 96);
      }

      .MovieCard__text__views {
        margin: 0;
        font-size: 0.875rem;
        color: rgb(96, 96, 96);
      }
    }
  }
}
